@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  color: #555555;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header .logo {
  color: #fafafa;
  font-weight: 800;
  font-size: 2em;
  text-decoration: none;
  background-image: url(img/logo.png);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: left;
}
header .logo p {
  opacity: 0;
}

header.sticky {
  background: #fafafa;
  padding: 10px 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02);
}

header.sticky .logo {
  color: #555555;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
  width: 50px; /*모바일 수정*/
}

header .navigation li a {
  text-decoration: none;
  color: #555555;
  font-weight: 300;
}

header.sticky .navigation li a {
  color: #555555;
}

header .navigation li a:hover {
  color: #bb002d;
  transition: 0.2s;
  font-weight: bold;
}

section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.titleText {
  color: #555555;
  font-size: 1.2em;
}

.title {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.btn {
  font-size: 0.7em;
  font-weight: bold;
  color: #fafafa;
  background-color: #fccf33;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  margin-top: 2em;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fbfbfb;
}

.banner .content {
  max-width: 900px;
  text-align: justify;
}

.banner .content h2 {
  font-size: 1.2em;
  color: #555555;
}

.banner .content p {
  margin-top: 10px;
  font-size: 0.8em;
}

.banner .btn {
  padding: 8px 20px;
}

.work {
  max-width: 1280px;
  padding: 100px;
  margin: 40px auto;
}

.work h2 {
  font-size: 1.2em;
}

.work ul {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.work ul li {
  list-style: none;
  background-color: #eee;
  padding: 8px 20px;
  margin: 5px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
}

.work ul li.active {
  background-color: #fccf33;
  color: white;
}

.work_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.work_container .itemBox {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.work_container .itemBox .card {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.work_container .itemBox .card a {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.work_container .itemBox .card span {
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.95;
  background-color: #fccf33;
  z-index: 1;
  transition: width 0.5s, height 0.5s;
}
.work_container .itemBox .card:hover span {
  width: 1000px;
  height: 1000px;
}

.work_container .itemBox .card .workImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work_container .itemBox .card .workImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.work_container .itemBox .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.work_container .itemBox .card .content div {
  padding: 150px;
  color: #fafafa;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  transform: translateY(50px);
}
.work_container .itemBox .card .content div p {
  color: #555555;
  width: 300px;
  text-align: center;
  padding: 10px;
}
.work_container .itemBox .card .content div p:nth-child(1) {
  font-weight: bold;
}

.work_container .itemBox .card:hover .content div {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.work .work-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.work .work-img-wrapper {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.work .work-img-wrapper img {
  width: 80vw;
}

.about p {
  text-align: justify;
  margin-top: 20px;
}

.copyrightText {
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.01);
  text-align: center;
}

.copyrightText p {
  color: #555555;
  font-size: 0.8em;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
  }

  header .navigation li {
    margin-left: 0;
  }

  header .navigation li a {
    color: #555555;
    font-size: 1.6em;
  }

  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(img/menu-w.png);
    filter: invert(0.5);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menuToggle.active {
    background: url(img/close-w.png);
    filter: invert(0.5);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner {
    padding-top: 100px;
  }

  .row {
    flex-direction: column;
  }

  .row .col50 {
    position: relative;
    width: 100%;
    padding: 20px;
  }

  .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }

  .work {
    padding: 100px 20px 0 20px;
  }
  .work_container {
    justify-content: center;
  }
}





@media (max-width: 488px) {
  .banner {
    padding: 100px 20px 50px 20px;
  }
  .work {
    padding: 50px 20px 50px 20px;
  }
  .about {
    padding: 50px 10px 50px 10px;
  }
  .row {
    justify-content: center;
  }
}
